Repository accordproject/concerto, pull requests merged in 2019-10, with the labels that each got.

#78 Added hyperlinks to TOC and table for types
  README.md
Labels: Difficulty: Starter, Good First Issue (Taken), Hacktoberfest, Type: Documentation 📝

#93 docs(README): adds slack badge, adds license badge
  README.md
Labels: Hacktoberfest

#109 doc(Readme) : Centering title
  README.md
Labels: Difficulty: Starter, Good First Issue (Taken), Hacktoberfest

#124 fix(CONTRIBUTING): broken coc link - I123
  CONTRIBUTING.md
Labels: Difficulty: Starter, Hacktoberfest

#130 feat(docs): add ecosystem table
  README.md
Labels: Difficulty: Starter, Hacktoberfest, Type: Documentation 📝

#134 chore(gitignore): add thumbs.db
  .gitignore
Labels: Difficulty: Starter, Hacktoberfest

#136 fix(readme): fix link to markdown editor package
  README.md
Labels: Difficulty: Starter, Hacktoberfest
